/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.like-icon .core {
  fill: transparent;
  transition-duration: 0.3s;
}

.like-icon .main-body {
  fill: transparent;
  transition-duration: 0.3s;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

.like-icon .contour {
  fill: var(--contour-color);
  transition-duration: 0.1s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  fill: transparent;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart 0.3s ease-in 0.1s;
}

@keyframes heart {
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  to {
    opacity: 1;
  }
}