/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter", sans-serif;
  --accent-font-family: "PressStart2P";
  --header-logo-font-size: clamp(3rem, 2.7rem + 1.5vw, 4rem);
  --header-title-font-size: clamp(1rem, 0.67rem + 1vw, 1.5rem);
  --header-font-weight: 700;
  --main-font-weight: 400;
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: var(--accent-color);
  --animation-fill-color: #f00;
  --content-width: clamp(320px, 696px, 1440px);
  --background-image:
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}